<footer class="footer bg-dark py-3 mt-auto">
    <section class="text-muted">
        <!-- Social Media and Contact Details -->
        <div class="d-flex flex-column bd-highlight mb-3">
            <div class="p-6 bd-highlight">
                <div class="d-flex flex-row bd-highlight mb-3">
                    <div class="p-2 bd-highlight">031 --- ----</div>
                    <div class="p-2 bd-highlight ms-auto">
                        <a href="" class="social-media">
                            <i class="fab fa-facebook"></i> Restaurant Grill
                        </a>    
                    </div>
                </div>
            </div>
            <div class="p-6 bd-highlight">
                <div class="d-flex flex-row bd-highlight mb-3">
                    <div class="p-2 bd-highlight">restaurantgrill@outlook.com</div>
                    <div class="p-2 bd-highlight ms-auto">
                        <a href="" class="social-media">
                            <i class="fab fa-instagram"></i> Restaurant_Grill
                        </a>    
                    </div>
                </div>
            </div>
          </div>
          <!-- Social Media and Contact Details -->

          <!-- Brand Logo -->
          <div class="d-flex flex-row bd-highlight mb-3">
            <div class="p-2 bd-highlight ms-auto me-auto">
                <a class="navbar-brand" href="/">
                    <i class="fas fa-utensils"> Restaurant Grill</i> 
                </a>
            </div>
          </div>
          <!-- Brand Logo -->
    </section>

    <hr class="hr-1">

    <div class="container" id="copyright">
        <span class="text-muted">&copy; Restaurant Grill 2022</span>
    </div>
</footer>