<nav class="navbar navbar-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">
      <h2 class="nav-h2">
        <i class="fas fa-utensils"></i> Restaurant Grill
      </h2>
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="true" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse hamburger-menu" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <div class="d-flex flex-row justify-content-end">
          <div class="d-flex flex-column">
            <li><a class="dropdown-item p-4" href="/menu">Menu</a></li>
            <li><a class="dropdown-item p-4" href="/gallery">Gallery</a></li>
            <li><a class="dropdown-item p-4" href="/locations">Where to Find Us</a></li>
            <li><a class="dropdown-item p-4" href="/reservations">Want to Make a Booking?</a></li>

            <li><a class="dropdown-item p-4" href="/reviews">Reviews</a></li>
            <li><a class="dropdown-item p-4" href="/contacts">Contact Us</a></li>
            <li><a class="dropdown-item p-4" href="/about">About Us</a></li>
          </div>
        </div>
      </ul>
    </div>
  </div>
</nav>
