<footer class="footer bg-dark py-3 mt-auto">


    <section class="text-muted">

        <!-- Social Media and Contact Details -->
        <div class="container">

            <div class="row flex-row d-flex mb-3">

                <div class="p-2 col-sm-6 col-md-6 col-lg-6">
                    <div class="col-sm-12 col-md-6 col-lg-4 col-auto me-md-auto">
                        <p class="footer-contacts">031 --- ----</p>
                    </div>
                </div>

                <div class="p-2 col-sm-6 col-md-6 col-lg-6">
                    <div class="col-sm-12 col-md-6 col-lg-4 col-auto ms-md-auto">
                        <p class="footer-contacts footer-right">restaurantgrill@outlook.com</p>
                    </div>
                </div>
            </div>


            <div class="row flex-row d-flex mb-3">

                <div class="p-2 col-sm-6 col-md-6 col-lg-6">
                    <div class="col-sm-12 col-md-6 col-lg-4 col-auto me-md-auto">
                        <p class="footer-contacts">
                            <a href="#">
                                <i class="fab fa-instagram"></i> Restaurant_Grill
                            </a>
                        </p>
                    </div>
                </div>

                <div class="p-2 col-sm-6 col-md-6 col-lg-6">
                    <div class="col-sm-12 col-md-6 col-lg-4 col-auto ms-md-auto">
                        <p class="footer-contacts footer-right">
                            <a href="#">
                                <i class="fab fa-facebook"></i> Restaurant Grill
                            </a>
                        </p>
                    </div>
                </div>

            </div>

        </div>

        <!-- Social Media and Contact Details -->


        <!-- Brand Logo -->
        <div class="d-flex flex-row mb-3">

            <div class="p-2 mx-auto">
                <a class="navbar-brand" href="/">
                    <h2>
                        <i class="fas fa-utensils"></i> Restaurant Grill
                    </h2>
                </a>
            </div>

        </div>
        <!-- Brand Logo -->
    </section>

    <hr class="hr-1">

    <div class="container" id="copyright">
        <span class="text-muted">&copy; Restaurant Grill 2022</span>
    </div>
</footer>
