<nav class="navbar navbar-light">
    <div class="container-fluid">
  
      <a class="navbar-brand" href="/">
        <h2 class="nav-h2">
          <i class="fas fa-utensils"></i> Restaurant Grill
        </h2>
      </a>
  
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="true" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
  
      <!-- Dropdown Menu List -->
      <div class="collapse navbar-collapse hamburger-menu" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
          <div class="d-flex flex-row justify-content-end">
  
            <div class="d-flex flex-column">
              <li>
                <a href="/menu" class="dropdown-item p-4">
                  <i class="fa-solid fa-pizza-slice"></i> Menu
                </a>
              </li>
  
              <li>
                <a href="/gallery" class="dropdown-item p-4">
                  <i class="fa-solid fa-camera"></i> Gallery
                </a>
              </li>
  
              <li>
                <a href="/reviews" class="dropdown-item p-4">
                  <i class="fa-solid fa-comments"></i> Reviews
                </a>
              </li>
  
              <li>
                <a href="/reservations" class="dropdown-item p-4">
                  <i class="fa-solid fa-calendar"></i> Want to make a booking?
                </a>
              </li>
  
  
              <li>
                <a href="/locations" class="dropdown-item p-4">
                  <i class="fa-solid fa-location-pin"></i> Where to Find Us
                </a>
              </li>
  
              <li>
                <a href="/contacts" class="dropdown-item p-4">
                  <i class="fa-solid fa-envelope"></i> Contact Us
                </a>
              </li>
  
              <li>
                <a href="/about" class="dropdown-item p-4">
                  <i class="fa-solid fa-circle-question"></i> About Us
                </a>
              </li>
            </div>
  
          </div>
        </ul>
      </div>
      <!-- Dropdown Menu List -->
  
    </div>
  </nav>
  