/* Min-Width */
@media screen and (min-width: 576px) {
    .footer-right {
      text-align: end;
    }
  }
@media screen and (min-width: 1115px) {
  .form-control{
    width: 66.66%;
  }
  }


/* Max-Width */
@media screen and (max-width: 1115px) {
    .menus-text {
      height: 120px;
      width: 186px;
    }
    .contact-text {
        width: 202px;
    }
    .map {
        width: 350px;
    }
  }
@media screen and (max-width: 991px) {
    .menus-text {
      height: 72px;
      width: 362px;
    }
  }
@media screen and (max-width: 767px) {
    .menus-text {
      height: 96px;
      width: 257px;
    }
  } 
@media screen and (max-width: 590px) {
    .carousel {
        height: 350px;
        width: 400px;
    }
    .carousel-imgs {
      height: 350px;
      width: 400px;
  }
  }
@media screen and (max-width: 575px) {
    .card {
      width: 66%;
    }
    .menus-text {
        height: 72px;
        width: 260px;
    }
    .footer-contacts  {
      text-align: center;
    }
    .contact-text {
        width: 205px;
    }
    .home-imgs {
      height: 300px;
      width: 400px;
    }
  }
@media screen and (max-width: 500px) {
    .menus-text {
        height: 96px;
        width: 236px;
    }
    .carousel {
      height: 250px;
      width: 300px;
  }
  .carousel-imgs {
    height: 250px;
    width: 300px;
  }
  .home-imgs {
    height: 225px;
    width: 325px;
  }
  }
@media screen and (max-width: 414px) {
    .menus-text {
      height: 120px;
      width: 186px;
    }
    .map {
        width: 325px;
    }
    .carousel {
      height: 250px;
      width: 300px;
  }
  .carousel-imgs {
    height: 250px;
    width: 300px;
  }
  }
@media screen and (max-width: 360px) {
    .menus-text {
      height: 144px;
      width: 168px;
    }
    .contact-text {
        width: 200px;
    }
    .map {
        width: 250px;
    }
    .form-control{
      width: 50%;
    }
  }
@media screen and (max-width: 308px) {
      .nav-h2 {
        font-size: 20px;
      }
    }
@media screen and (max-width: 275px) {
    .nav-h2 {
      font-size: 15px;
    }
  }  

