/* GENRAL HTML ELEMENTS */

* {
  box-sizing: border-box;
}

body {
  background-color: linen;
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

img {
  border-radius: 1rem;
}

main {
  width: 100%;
  padding: 50px;
}

/* texts */
h1 {
  font-family: 'Libre Bodoni', serif;
  text-align: center;
}

h2 {
  font-family: 'Libre Bodoni', serif;
}

h3 {
  font-family: 'Libre Bodoni', serif;
}

h5 {
  font-family: 'Libre Bodoni', serif;
}

hr.hr-1 {
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, rgba(245, 236, 236, 0), rgba(199, 195, 195, 0.75), rgba(0, 0, 0, 0));
}

/* forms */
label {
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
}

input[type="text"] {
  font-family: 'Raleway', sans-serif;
}

input[type="email"] {
  font-family: 'Raleway', sans-serif;
}

.form-control {
  margin: auto;
}

.emailHelp {
  text-align: center;
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
}

.dateDiv {
  width: 50%;
  display: grid;
}

#date {
  margin: auto;
  width: 100%;
}

/* divs */
.container {
  width: 100%;
  margin-top: 50px;
  margin-bottom: 50px;
}

.card-flex-row {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  height: 500px;
}

/* javascript effects */
.reveal {
  position: relative;
  transform: translateX(50px);
  opacity: 0;
  transition: 2s all ease;
}

.reveal.active {
  transform: translateY(0);
  opacity: 1;
}





/* HOME */
.home-cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  margin-top: 50px;
  margin-bottom: 50px;
  border: 1px solid rgba(61, 61, 61, 0.5);
  border-left: 0px;
  border-right: 0px;
  border-radius: 0.5rem;
  padding: 0px;
}

.home-cards:nth-child(even) {
  background-color: rgba(228, 209, 209, 0.4);
}

.home-imgs-div {
  display: flex;
  height: 375px;
  width: 100%;
}

.home-cards:nth-child(odd) .home-imgs-div {
  justify-content: flex-end;
  border-radius: 0rem 0.5rem 0.5rem 0rem;
}

.home-cards:nth-child(even) .home-imgs-div {
  justify-content: flex-start;
  border-radius: 0.5rem 0rem 0rem 0.5rem;
}

.home-cards:nth-child(odd) .home-imgs-div>.home-imgs {
  border-radius: 0rem 0.5rem 0.5rem 0rem;
}

.home-cards:nth-child(even) .home-imgs-div>.home-imgs {
  border-radius: 0.5rem 0rem 0rem 0.5rem;
}

.home-imgs {
  border-radius: 0.5rem;
  height: 100%;
  width: 100%;
}

.home-h2 {
  text-align: center;
  text-decoration-color: black;
  font-family: 'Libre Bodoni', serif;
}

.home-links {
  color: black;
  text-decoration: underline;
}

.home-links:hover {
  text-shadow: 0px 15px 20px rgba(29, 29, 29, 0.6);
  color: black;
}

.home-pars {
  padding: 25px;
  text-align: center;
  font-family: 'Merriweather', serif;
}




/* MENU */

.content-container {
  width: 100%;
  margin-top: 50px;
  margin-bottom: 50px;
}





/* CONTACTS */

.contact-card a {
  color: black;
}

.contact-card a:hover {
  color: rgb(54, 54, 202)
}





/* GALLERY */
.gallery-carousel {
  margin-top: 50px;
  margin-bottom: 50px;
}

.carousel-heading {
  text-align: center;
}

.carousel-heading p {
  font-family: 'Merriweather', serif;
  font-size: medium;
  font-weight: 500;
}





/* LOCATIONS */
.location-jumbos {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: auto;
  margin-top: 50px;
  margin-bottom: 50px;
  padding: 10px;
  border: 1px solid rgba(61, 61, 61, 0.5);
  border-left: none;
  border-right: none;
  border-radius: 0.3rem;
}

.location-jumbos:nth-child(odd) {
  background-color: rgba(228, 209, 209, 0.4);
}

.location-card-title {
  margin-top: 20px;
  text-align: center;
}

.location-card {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  height: 90%;
  background: none;
  border: none;
  margin-top: 20px;
  margin-bottom: 20px;
}

.location-imgs-div {
  width: 48%;
  height: 300px;
  border-radius: 0.25rem;
}

.location-imgs-div img {
  width: 100%;
  height: 100%;
}

.map-card {
  margin-top: auto;
  margin-bottom: auto;
  padding: 0;
  width: 48%;
  height: 300px;
}

.map {
  border-radius: 0.5rem;
  width: 100%;
  height: 100%;
}

.location-booking {
  display: flex;
  justify-content: center;
  height: 55px;
  margin-top: 15px;
}

.location-booking button {
  align-self: center;
  height: 35px;
  color: white;
  background-color: rgb(26, 25, 25);
  border: none;
  font-family: 'Raleway', sans-serif;
  border-radius: 0.5rem;
}

.location-booking button:hover {
  background-color: rgba(158, 143, 113, 0.582);
  border-color: rgba(150, 149, 147, 0.582);
  box-shadow: 0px 15px 20px rgba(29, 29, 29, 0.6);
  transform: translateY(-.5px);
  color: black;
  font-weight: bolder;
}







/* RESERVATIONS */
form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px;
  background: rgba(211, 184, 199, 0.211);
  border-radius: 0.25rem;
}

input[type="date"] {
  font-family: 'Raleway', sans-serif;
  font-weight: lighter;
  text-align: center;
  margin: auto;
  width: 100%;
  border: none;
  font-weight: 500;
  color: #6c757d;
  border-radius: 5px;
  font-family: 'Raleway', sans-serif;
}

input[type="time"] {
  border: none;
  text-align: center;
  font-weight: 500;
  color: #6c757d;
  border-radius: 5px;
  font-family: 'Raleway', sans-serif;
}

input[type="text"],
input[type="phone"],
input[type="email"],
input[type="date"],
input[type="time"] {
  border-radius: 2px;
  padding: 8px;
}

input[type="text"]:focus,
input[type="phone"]:focus,
input[type="email"]:focus,
input[type="date"]:focus,
input[type="time"]:focus {
  outline: none;
  border: 2px solid rgba(182, 69, 69, 0.27);
}

[type=radio] {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}

[type=radio]+img {
  cursor: pointer;
}

[type=radio]:checked+img {
  outline: 3px solid rgba(128, 130, 243, 0.705);
  box-shadow: 0 0 40px rgba(233, 72, 51, 0.7);
  filter: drop-shadow(0 0 20px rgba(0, 0, 0, 0.7))
}

input,
label {
  margin: .4rem 0;
}

#table-head {
  text-align: center;
}

.input-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
}

.input-div input {
  width: 100%;
  border: none;
}

.date-inputs {
  display: flex;
  justify-content: space-between;
  width: 50%;
}

.date-inputs input {
  width: 95%;
}

span.form-text {
  margin-bottom: 20px;
}

#reservationsButton {
  background-color: rgb(26, 25, 25);
  border-color: rgb(26, 25, 25);
}

#reservationsButton:hover {
  background-color: rgba(158, 143, 113, 0.582);
  border-color: rgba(150, 149, 147, 0.582);
  box-shadow: 0px 15px 20px rgba(29, 29, 29, 0.6);
  transform: translateY(-.5px);
  color: black;
  font-weight: bolder;
}

#res-date-label {
  text-align: center;
}

#res-loc-radios {
  text-align: center;
}

#reservationsButton {
  font-family: 'Raleway', sans-serif;
}

#max-people-res {
  font-family: 'Raleway', sans-serif;
  margin-top: 15px;
  margin-bottom: 15px;
}

#people-container {
  text-align: center;
}

#reservationsButton {
  margin: auto;
}

.resBtnDiv {
  display: grid;
}

.reservations-openPar {
  font-family: 'Merriweather', serif;
  text-align: center;
  margin: 15px 35px 15px;
}

.loc-h5 {
  text-align: center;
}

.form-check-input {
  display: block;
  align-content: center;
}

.dropdown-toggle {
  font-family: 'Raleway', sans-serif;
}

.res-location {
  width: 50%;
}

.res-loc-img-div {
  width: 100%;
  height: 350px;
  transition: filter 0.3s ease;
}

.res-loc-img {
  width: 100%;
  height: 100%;
  transition: filter 0.3s ease;
}

#res-check {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

.uncheckedRadio {
  filter: grayscale(100%) blur(5px);
}

#flexCheckDefault {
  margin-right: 5px;
}







/* REVIEWS */
#reviewButton {
  background-color: rgb(26, 25, 25);
  border-color: rgb(26, 25, 25);
  font-family: 'Raleway', sans-serif;
}

#reviewButton:hover {
  background-color: rgba(158, 143, 113, 0.582);
  border-color: rgba(150, 149, 147, 0.582);
  box-shadow: 0px 15px 20px rgba(29, 29, 29, 0.6);
  transform: translateY(-.5px);
  color: black;
  font-weight: bolder;
}

#review-h1 {
  text-align: center;
}

#reviewsForm {
  margin-top: 20px;
  margin-bottom: 20px;
}

#reviewButton {
  margin-top: 5px;
  margin-bottom: 5px;
  margin: auto;
}

#showmore {
  margin: auto;
}

.reviews-container {
  text-align: center;
}

.reviews-container p {
  font-family: 'Merriweather', serif;
}

.review-btn {
  background-color: rgb(26, 25, 25);
  border-color: rgb(26, 25, 25);
  color: white;
  font-family: 'Raleway', sans-serif;
}

  .textarea-input-div {
    width: 90%;
  }


.review-btn:hover {
  background-color: rgba(158, 143, 113, 0.582);
  border-color: rgba(150, 149, 147, 0.582);
  box-shadow: 0px 15px 20px rgba(29, 29, 29, 0.6);
  transform: translateY(-.5px);
  color: black;
  font-weight: bolder;
}

.name-date-div {
  text-align: center;
}

.reviewBtnDiv {
  display: grid;
  margin-top: 15px;
  margin-bottom: 15px;
}

.customerReviews {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 25px;
  border-radius: 0.3rem;
  background: rgba(211, 184, 199, 0.211);
}

.stars {
  display: flex;
  justify-content: space-evenly;
  width: 33%;
}

.review-card {
  padding: 10px;
  border: 1px solid black;
  background: linen;
  text-align: center;
  border-radius: 0.25rem;
  box-shadow: 0px 15px 15px rgba(29, 29, 29, 0.6);
}

.review-name {
  font-weight: 900;
}

.review-date {
  font-weight: 900;
}

.review-text {
  margin-top: 15px;
  font-weight: 500;
}

.review-rating {
  font-weight: bolder;
}

/* swiper.js custom styles */

.swiper {
  padding-left: 50px !important;
  padding-right: 50px !important;
}

.slider-wrapper {
  overflow: hidden;
}

.swiper-slide .card-list {
  height: 80%;
  width: 80%;
  margin-left: 20px;
}

.card-list .swiper-wrapper {
  display: flex;
  align-items: center;
}

.swiper-pagination * {
  background: rgb(65, 62, 62) !important;
}





/* CONTACTS */
.contact-heads {
  text-align: center;
  margin-bottom: 20px;
}





/* ABOUT US */
.about-open {
  text-align: center;
  font-family: 'Merriweather', serif;
}

.about-pars {
  text-align: center;
  margin-right: 15%;
  margin-left: 15%;
  font-family: 'Merriweather', serif;
}

.about-h2 {
  text-align: center;
}

.about-imgs {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
  height: 300px;
  width: 450px;
}

.about-imgs img {
  height: 100%;
  width: 100%;
}





/* BOOTSTRAP ELEMENTS */
/* navbar */
#navbarDropdown {
  align-items: center;
}

#navbarSupportedContent {
  text-align: end;
}

.navbar-brand {
  font-family: 'Libre Bodoni', serif;
}

.dropdown-item {
  font-family: 'Raleway', sans-serif;
}

.dropdown-item:hover {
  background-color: rgba(131, 127, 127, 0.4);
}

.hamburger-menu {
  margin-top: 10px;
}

/* carousels */
.carousel {
  border-radius: 1rem;
  height: 400px;
  width: 525px;
}

.carousel-item {
  border-radius: 1rem;
}

.carousel-imgs {
  height: 400px;
  width: 525px;
  border-color: rgba(88, 87, 88, 0.3);
  border-radius: 1rem;
}

/* footer */
footer {
  display: flex;
  flex-direction: column;
  justify-content: end;
  height: 250px;
  width: 100%;
  background: rgb(33, 37, 41);
}

footer section {
  display: flex;
  justify-content: space-around;
}

.footer-logo,
.footer-address,
.footer-contacts {
  color: white;
}

.footer-slogan {
  font-size: small;
}

.footer-contacts {
  font-family: 'Raleway', sans-serif;
}

.footer-socials {
  width: 100px;
  font-family: 'Raleway', sans-serif;
}

.footer-socials a {
  margin: 15px;
  color: white;
}

.fa-facebook:hover {
  color: rgb(54, 54, 202);
}

.fa-instagram:hover {
  color: rgb(149, 30, 149);
}

.copyright {
  color: white;
}

#footer-copyright {
  display: flex;
  justify-content: space-between;
  padding-right: 50px;
  padding-left: 50px;
  height: 20%;
  font-size: large;
  text-align: center;
  font-family: 'Raleway', sans-serif;
}

/* cards */

.card {
  width: 30%;
  height: 100%;
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: linen;
  padding: 0px;
  border: solid 1px rgb(136, 132, 132);
}

.card-img-div {
  height: 50%;
  width: 100%;
}

.card-imgs {
  width: 100%;
  height: 100%;
  border-radius: 0.25rem;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}

.card-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 50%;
  padding: 5px;
  border-bottom-left-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
}

.card-text {
  display: flex;
  justify-content: center;
  height: 66%;
  width: 100%;
  text-align: center;
  font-family: 'Merriweather', serif;
}

.card-button {
  width: 80%;
  background-color: rgb(26, 25, 25);
  border-color: rgb(26, 25, 25);
  font-family: 'Raleway', sans-serif;
  margin-left: auto;
  margin-right: auto;
}

.menu-btn-div {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 25%;
  width: 100%;
}

.card-button:hover {
  background-color: rgba(15, 15, 15, 0.582);
  border-color: rgba(150, 149, 147, 0.582);
  box-shadow: 0px 15px 20px rgba(29, 29, 29, 0.6);
}

.card:hover {
  background-color: rgb(219, 207, 195);
}

.card-title {
  text-align: center;
}