/* Min-Width */
@media screen and (min-width: 576px) {
    .footer-right {
      text-align: end;
    }
  }
@media screen and (min-width: 1115px) {
  .form-control{
    width: 50%;
  }
  }


/* Max-Width */
@media screen and (max-width: 1115px) {
    .menus-text {
      height: 120px;
      width: 186px;
    }
    .contact-text {
        width: 202px;
    }
    .map {
      width: 350px;
      height: 340px;
    }
    .res-location {
      width: 50%;
    }
    .r-review {
      margin-left: 20%;
      margin-right: 20%;
    }
    input[type="text"] {
      width: 66%;
    }
    input[type="email"] {
      width: 66%;
    }
    #review {
      width: 66%;
    }
  }
@media screen and (max-width: 991px) {
    .menus-text {
      height: 72px;
      width: 362px;
    }
    .map {
      width: 100%;
    }
    .res-location {
      width: 100%;
    }
    .res-loc-img {
      height: 300px;
      width: 100%;
      margin: auto;
    }
    input[type="text"] {
      width: 66%;
    }
    input[type="email"] {
      width: 66%;
    }
    .res-loc-img {
      height: 300px;
      width: 405px;
    }
  }
@media screen and (max-width: 768px) {
    .menus-text {
      height: 96px;
      width: 257px;
    }
  } 
@media screen and (max-width: 590px) {
    .carousel {
        height: 350px;
        width: 400px;
    }
    .carousel-imgs {
      height: 350px;
      width: 400px;
  }
  }
@media screen and (max-width: 575px) {
    .card {
      width: 66%;
    }
    .menus-text {
        height: 72px;
        width: 260px;
    }
    .footer-contacts  {
      text-align: center;
    }
    .contact-text {
        width: 205px;
    }
    .home-imgs {
      height: 300px;
      width: 400px;
    }
    .map {
      width: 66%;
      margin: auto;
      display: block;
    }
    .res-loc-img {
      height: 350px;
      width: 400px;
    }
  }
@media screen and (max-width: 500px) {
    .menus-text {
        height: 96px;
        width: 236px;
    }
    .carousel {
      height: 250px;
      width: 300px;
  }
  .carousel-imgs {
    height: 250px;
    width: 300px;
  }
  .home-imgs {
    height: 225px;
    width: 325px;
  }
  .rating {
    width: 133%;
}
  }
@media screen and (max-width: 414px) {
    .menus-text {
      height: 120px;
      width: 186px;
    }
    .map {
        width: 66%;
    }
    .carousel {
      height: 250px;
      width: 300px;
  }
  .carousel-imgs {
    height: 250px;
    width: 300px;
  }
  .rating {
    width: 133%;
    right: 100%;
}
.res-loc-img {
  height: 250px;
  width: 300px;
}
  }
@media screen and (max-width: 360px) {
    .menus-text {
      height: 144px;
      width: 168px;
    }
    .contact-text {
        width: 200px;
    }
    .map {
        width: 250px;
    }
    .form-control{
      width: 50%;
    }
    .rating {
      width: 133%;
      right: 100%;
  }
  }
@media screen and (max-width: 308px) {
      .nav-h2 {
        font-size: 20px;
      }
    }
@media screen and (max-width: 275px) {
    .nav-h2 {
      font-size: 15px;
    }
  }  

