/* Max-Width */
@media screen and (max-width: 1115px) {
  /* GENRAL HTML ELEMENTS */


  /* HOME */


  /* CONTACTS */


  /* GALLERY */


  /* LOCATIONS */


  /* RESERVATIONS */


  /* REVIEWS */


  /* ABOUT US */


  /* BOOTSTRAP ELEMENTS */

  /* Navbar */


  /* FOOTER */


}

@media screen and (max-width: 992px) {
  /* GENRAL HTML ELEMENTS */


  /* HOME */

  .home-cards:nth-child(odd) .home-imgs-div {
    border-radius: 0rem 0rem 0.5rem 0.5rem;
  }

  .home-cards:nth-child(odd) .home-imgs-div>.home-imgs {
    border-radius: 0rem 0rem 0.5rem 0.5rem;
  }

  .home-cards:nth-child(even) .home-imgs-div {
    border-radius: 0.5rem 0.5rem 0rem 0rem;
  }

  .home-cards:nth-child(even) .home-imgs-div>.home-imgs {
    border-radius: 0.5rem 0.5rem 0rem 0rem;
  }

  .home-imgs-div {
    height: 500px;
  }


  /* CONTACTS */


  /* GALLERY */


  /* LOCATIONS */


  /* RESERVATIONS */


  /* REVIEWS */

  textarea {
    width: 100%;
  }


  /* ABOUT US */


  /* BOOTSTRAP ELEMENTS */

  /* Navbar */


  /* FOOTER */


}

@media screen and (max-width: 767px) {
  /* GENRAL HTML ELEMENTS */


  /* HOME */

  .jumbotron h1 {
    font-size: 25px;
  }

  .home-cards {
    justify-self: center;
    width: 400px;
  }

  .home-imgs-div {
    width: 100%;
    height: 300px;
    margin: 0px;
  }


  /* MENU */

  .card-flex-row {
    flex-wrap: wrap;
    height: auto;
  }

  .card-flex-row .card {
    width: 66%;
  }

  .card {
    height: 450px;
    padding-bottom: 25px;
  }

  .container {
    margin-top: 50px;
  }




  /* CONTACTS */


  /* GALLERY */


  /* LOCATIONS */

  .location-card {
    justify-content: center;
  }

  .location-imgs-div {
    width: 80%;
    margin-bottom: 25px;
  }

  .map-card {
    width: 80%;
  }


  /* RESERVATIONS */

  .res-loc-img-div {
    height: 250px;
  }

  .input-div {
    width: 80%;
  }

  .date-inputs {
    width: 80%;
  }


  /* REVIEWS */

  .stars {
    width: 50%;
  }


  /* ABOUT US */


  /* BOOTSTRAP ELEMENTS */

  /* Navbar */


  /* FOOTER */

  footer {
    height: auto;
    padding: 15px;
    text-align: center;
  }

  footer section {
    flex-wrap: wrap;
    justify-content: center;
  }

  footer .footer-logo {
    width: 100%;
    margin-bottom: 15px;
    text-align: center;
  }

  footer .footer-address {
    width: 100%;
    margin-bottom: 15px;
    text-align: center;
  }

  footer .footer-contacts {
    width: 100%;
    margin-bottom: 15px;
    text-align: center;
  }


}

@media screen and (max-width: 479px) {
  /* GENRAL HTML ELEMENTS */


  /* HOME */

  .jumbotron h1 {
    font-size: 18px;
  }

  .home-cards {
    width: 80%;
  }


  /* MENU */

  .card-flex-row .card {
    width: 85%;
  }



  /* CONTACTS */


  /* GALLERY */


  /* LOCATIONS */

  .location-jumbos {
    width: 100%;
  }

  .location-imgs-div {
    width: 90%;
  }

  .map-card {
    width: 90%;
  }

  .form-check-label {
    font-size: 13px;
  }


  /* RESERVATIONS */

  .res-loc-img-div {
    height: 200px;
  }


  /* REVIEWS */

  .stars {
    width: 66%;
  }


  /* ABOUT US */

  .about-imgs {
    width: 300px;
  }


  /* BOOTSTRAP ELEMENTS */

  /* Navbar */


  /* FOOTER */

  #footer-copyright {
    padding-right: 10px;
    padding-left: 10px;
  }


}

@media screen and (max-width: 360px) {
  /* GENRAL HTML ELEMENTS */


  /* HOME */


  /* CONTACTS */


  /* GALLERY */


  /* LOCATIONS */


  /* RESERVATIONS */


  /* REVIEWS */


  /* ABOUT US */


  /* BOOTSTRAP ELEMENTS */

  /* Navbar */


  /* FOOTER */


}