body{
    margin: 0;
    padding: 0;
    background: linen;
}

.rating {
    margin: auto;
    position: relative;
    top: 5%;
    left: 11.5%;
    transform: translate(-50%, -50%) rotateY(180deg);
    display: flex;
}
.rating input {
    display: none;
}
.rating label {
    display: block;
    cursor: pointer;
    width: 5%;
}
.rating label:before {
    content: '\f005';
    font-family: fontAwesome;
    position: relative;
    display: block;
    font-size: 25px;
    color: rgb(0, 0, 0);
}
.rating label:after {
    content: '\f005';
    font-family: fontAwesome;
    position: absolute;
    display: block;
    font-size: 25px;
    color: rgb(235, 165, 14);
    top: 0;
    opacity: 0;
    transition: 0.5s;
}
.rating label:hover:after,
.rating label:hover ~ label:after,
.rating input:checked ~ label:after {
   opacity: 1;
}
