/* GENRAL HTML */
body {
  height: 100vh;
  background-color: linen;
}

.container {
  margin-top: 50px;
  margin-bottom: 50px;
}

.form-control {
  margin: auto;
}

.emailHelp {
  text-align: center;
  font-weight: bold;
}

img {
  border-radius: 1rem;
}

a {
  text-decoration: none;
}

.head-text {
  text-align: center;
}

hr.hr-1 {
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, rgba(245, 236, 236, 0), rgba(199, 195, 195, 0.75), rgba(0, 0, 0, 0));
}





/* HOME */
.home-jumbos {
  margin-top: 50px;
  margin-bottom: 50px;
  padding: 10px;
  border: 1px solid rgba(61, 61, 61, 0.5);
  border-left: none;
  border-right: none;
}

.home-imgs {
  border-radius: 0.5rem;
  height: 375px;
  width: 450px;
  justify-content: center;
}

.home-imgs-div {
  display: flex;
  justify-content: center;
}


.home-h2 {
  text-align: center;
  text-decoration-color: black;
}

.home-links {
  color: black;
  text-decoration: underline;
}

.home-links:hover {
  text-shadow: 0px 15px 20px rgba(29, 29, 29, 0.6);
  color: black;
}

.home-pars {
  text-align: center;
}







/* MENU */






/* CONTACTS */
.contact-card {
  margin-top: 20px;
  margin-bottom: 20px;
}





/* GALLERY */
.gallery-carousel {
  margin-top: 50px;
  margin-bottom: 50px;
}
.carousel-heading {
  text-align: center;
}





/* LOCATIONS */
.location-jumbos {
  margin-top: 50px;
  margin-bottom: 50px;
  padding: 10px;
  border: 1px solid rgba(61, 61, 61, 0.5);
  border-left: none;
  border-right: none;
}

.map {
  width: 500px;
  height: 400px;
  justify-content: center;
}

.location-head {
  justify-content: center;
}




 
/* RESERVATIONS */
#start {
  display: block;
  font: 1rem 'Fira Sans', sans-serif;
}

#table-head {
  text-align: center;
}

#reservationsButton {
  background-color: rgb(26, 25, 25);
  border-color: rgb(26, 25, 25);
}

#reservationsButton:hover {
  background-color: rgba(15, 15, 15, 0.582);
  border-color: rgba(150, 149, 147, 0.582);
  box-shadow: 0px 15px 20px rgba(29, 29, 29, 0.6);
  transform: translateY(-7px);
}

input,
label {
  margin: .4rem 0;
}

.reservations-openPar {
  text-align: center;
  margin: 15px 35px 15px;
}

.form-check-input {
  align-content: center;
}

.table {
  background-color: #444451;
  height: 80px;
  width: 80px;
  margin: 10px;
  border-radius: 100%;
}

.table-pars {
  text-align: center;
  color: white;
}

.table:hover {
  box-shadow: 0px 5px 5px rgba(29, 29, 29, 0.4);
  transform: translateY(-2px);
}

.tableSelected {
  background-color: #5c86eb;
  color: black;
 }

.tableUnavailable {
background-color: #5c86eb;
}




/* REVIEWS */
#reviewButton {
  background-color: rgb(26, 25, 25);
  border-color: rgb(26, 25, 25);
}

#reviewButton:hover {
  background-color: rgba(15, 15, 15, 0.582);
  border-color: rgba(150, 149, 147, 0.582);
  box-shadow: 0px 15px 20px rgba(29, 29, 29, 0.6);
  transform: translateY(-7px);
}

#reviewsForm {
  margin-top: 20px;
  margin-bottom: 20px;
}

#reviewButton {
  margin-top: 5px;
  margin-bottom: 5px;
  margin: auto;
}

#ratingDiv {
  display: grid;
}

#rating {
  display: block;
  margin: auto;
  width: 20%;
}

#reviewDate {
  display: grid;
}

#date {
  margin: auto;
  width: 25%;
  font-weight: lighter;
}

.reviewBtnDiv {
  display: grid;
  margin-top: 15px;
  margin-bottom: 15px;
}

.customerReviews {
  margin-left: 33%;
  margin-right: 33%;
  margin-top: 20px;
  margin-bottom: 20px;
}

.customerReviews:nth-of-type(n+6) {
  display: none;
}

.showReview {
  display: block;
}

.hide-me {
  display: none;
}

.textBold {
  font-weight: bold;
}




/* CONTACTS */
.contact-heads {
  text-align: center;
  margin-bottom: 20px;
}





/* ABOUT US */
.about-open {
  text-align: center;
}

.about-pars {
  text-align: center;
  margin-right: 15%;
  margin-left: 15%;
}





/* BOOTSTRAP ELEMENTS */
/* navbar */
#navbarDropdown {
  align-items: center;
}

#navbarSupportedContent {
  text-align: end;
}

/* .navbar {
  background-color: rgb(236, 225, 216);
  border-bottom: 1px solid rgba(126, 124, 124, 0.4);
} */

.dropdown-item:hover {
  background-color: rgba(126, 124, 124, 0.4);
}

.hamburger-menu {
  margin-top: 10px;
}

/* carousels */
.carousel {
  border-radius: 1rem;
  height: 400px;
  width: 525px;
}

.carousel-item {
  border-radius: 1rem;
}

.carousel-imgs {
  height: 400px;
  width: 525px;
  border-color: rgba(88, 87, 88, 0.3);
  border-radius: 1rem;
}

/* footer */
footer {
  margin-bottom: 0px;
  margin-top: 10px;
  width: 100%;
}

#copyright {
  text-align: center;
}

#logo {
  text-align: right;
}

#phone {
  padding-bottom: 5px;
}

/* cards */
.card {
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: linen;
  border: solid 1px;
  border-color: rgb(136, 132, 132);
}

.card-text {
  text-align: center;
}

.card-button {
  background-color: rgb(26, 25, 25);
  border-color: rgb(26, 25, 25);
}

.card-button:hover {
  background-color: rgba(15, 15, 15, 0.582);
  border-color: rgba(150, 149, 147, 0.582);
  box-shadow: 0px 15px 20px rgba(29, 29, 29, 0.6);
  transform: translateY(-7px);
}

.card-imgs {
  width: auto;
  height: 220px;
  border-radius: 0.25rem;
  margin-top: 5px;
}

.card:hover {
  background-color: rgb(219, 207, 195);
}

.card-title {
  text-align: center;
}
