<% layout('layouts/boilerplate') %>

    <div class="jumbotron">
        <h1>About Us</h1>
    </div>

    <hr class="hr-1">

    <section>
        <p class="about-open">
            Every restaurant has its own story, here is ours.
        </p>
    </section>

    <hr class="my-4 hr-1">

    <article>
        <p class="about-pars">
            Lorem, ipsum dolor sit amet consectetur adipisicing elit.
            A itaque vel quidem, veritatis tenetur eveniet animi aperiam illum rerum vitae amet quis quam, explicabo
            minus et nihil adipisci id. Quod.

            Lorem, ipsum dolor sit amet consectetur adipisicing elit.
            A itaque vel quidem, veritatis tenetur eveniet animi aperiam illum rerum vitae amet quis quam, explicabo
            minus et nihil adipisci id. Quod.
        </p>

        <p class="about-pars">
            Lorem, ipsum dolor sit amet consectetur adipisicing elit.
            A itaque vel quidem, veritatis tenetur eveniet animi aperiam illum rerum vitae amet quis quam, explicabo
            minus et nihil adipisci id. Quod.

            Lorem, ipsum dolor sit amet consectetur adipisicing elit.
            A itaque vel quidem, veritatis tenetur eveniet animi aperiam illum rerum vitae amet quis quam, explicabo
            minus et nihil adipisci id. Quod.
        </p>
    </article>
