<% layout('layouts/boilerplate') %> 

<div class="jumbotron">
<h1 class="display-4 head-text">About Us</h1>
<hr class="hr-1">
<p class="lead about-open">
    Every restaurant has its own story, here is ours.
</p>
<hr class="my-4 hr-1">
<p class="about-pars">
    Lorem, ipsum dolor sit amet consectetur adipisicing elit.
        A itaque vel quidem, veritatis tenetur eveniet animi aperiam illum rerum vitae amet quis quam, explicabo minus et nihil adipisci id. Quod.

        Lorem, ipsum dolor sit amet consectetur adipisicing elit.
        A itaque vel quidem, veritatis tenetur eveniet animi aperiam illum rerum vitae amet quis quam, explicabo minus et nihil adipisci id. Quod.

        Lorem, ipsum dolor sit amet consectetur adipisicing elit.
        A itaque vel quidem, veritatis tenetur eveniet animi aperiam illum rerum vitae amet quis quam, explicabo minus et nihil adipisci id. Quod.

        Lorem, ipsum dolor sit amet consectetur adipisicing elit.
        A itaque vel quidem, veritatis tenetur eveniet animi aperiam illum rerum vitae amet quis quam, explicabo minus et nihil adipisci id. Quod.
</p>
</div>

