<% layout('layouts/boilerplate') %>

    <div class="jumbotron">
        <h1>About Us</h1>
    </div>

    <hr class="hr-1">

    <section>
        <p class="about-open">
            Every restaurant has its own story, here is ours.
        </p>
    </section>

    <hr class="my-4 hr-1">

    <article>
        <p class="about-pars">
            Our story begins with our founder Lufefe Niglana who was born and raised in the city of Durban and has been
            an avid fan of eating out and video blogging in various parts of the city ever since the mid 2010's. 
            
            In his time eating outaround the city, he noticed that there was not many places with a very good view of the 
            city that would be Instagram worthy, an enjoyable vibe and with the food to match. This would inspire him to start 
            Restaurant Grill in the year 2017, opening his first restaurant in South Beach.
        </p>

        <p class="about-pars">
            As the restaurant enjoyed a very meteoric rise in popularity, in 2019, there was demand from a more upmarket 
            customer base and Restaurant Grill would seek to cater to this market by opening the Umhlanga branch of the restaurant
            and very soon after the restaurant would open our Westville branch in the Pavillion Mall to allow patrons who are on
            the go to have a place to take a quick break from shopping or for a quick hang out at the mall.
        </p>

        <p class="about-pars">
            At the end of the day, all that Restaurant Grill aims to do is to provide its customers with good vibes, a place
            to share moments with friends around some good food and drinks. We hope to see you soon and share the good vibes.
        </p>
    </article>
