<% layout('layouts/boilerplate') %>

<div class="jumbotron">
    <h1 class="display-4 head-text">Contact Us
    </h1>
    <hr class="hr-1">
  </div>

    <div class="jumbotron contact">
        <!-- <h2 class="contact-heads">Want to Give Us a Call?</h2> -->
        <div class="d-flex flex-column bd-highlight mb-3">
            <div class="d-flex flex-row bd-highlight mb-3">
                <div class="card ms-auto me-auto" style="width: 18rem;">
                    <img src="https://media.istockphoto.com/photos/latin-american-coffee-shop-employee-accepts-a-preorder-on-a-mobile-picture-id1293175094?b=1&k=20&m=1293175094&s=170667a&w=0&h=Mk8o_rpKPyLadXJ3Wi4DejMtzP7-M1ecyo8l180dJ08="
                        class="card-img-top card-imgs" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Want to Call Us?</h5>
                        <p class="card-text">South Beach: 031 --- ----</p>
                        <p class="card-text">Umhlanga: 031 --- ----</p>
                        <p class="card-text">Westville: 031 --- ----</p>
                    </div>
                </div>

                <div class="card ms-auto me-auto" style="width: 18rem;">
                    <img src="https://images.unsplash.com/photo-1581349437898-cebbe9831942?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8N3x8ZW1haWx8ZW58MHx8MHx8&auto=format&fit=crop&w=500&q=60"
                        class="card-imgs" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Send us an Email</h5>
                        <p class="card-text">restaurantgrill@outlook.com</p>
                    </div>
                </div>

                <div class="card ms-auto me-auto" style="width: 18rem;">
                    <img src="https://images.unsplash.com/photo-1579869847557-1f67382cc158?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NXx8c29jaWFsJTIwbWVkaWF8ZW58MHx8MHx8&auto=format&fit=crop&w=500&q=60" 
                        class="card-imgs" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Follow Us</h5>
                        <p class="card-text"> 
                            <a href="" class="social-media">
                                <i class="fab fa-instagram"></i> Restaurant_Grill
                            </a> 
                        </p>
                        <p class="card-text">
                            <a href="" class="social-media">
                                <i class="fab fa-facebook"></i> Restaurant Grill
                            </a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <hr class="hr-1">
