<% layout('layouts/boilerplate') %> 

<h1>Where to Find Us</h1>

<!-- Maps -->


<div class="container">

    <!-- South Beach -->
    <div class="row d-flex flex-row location-jumbos">
        <div class="card col-sm-7 col-md-7 col-lg-4 mx-auto">
            <img src="https://images.unsplash.com/photo-1543414888-33c11c507629?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTR8fHNvdXRoJTIwYmVhY2glMjBkdXJiYW58ZW58MHx8MHx8&auto=format&fit=crop&w=500&q=60"
                class="card-imgs" alt="...">
            <div class="card-body">
                <h5 class="card-title">South Beach</h5>
                <p class="card-text">
                    1 Erskine Terrace, South Beach, Durban, 4001
                </p>
            </div>
        </div>

        <div class="col-sm-7 col-md-7 col-lg-4 mx-auto">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3459.9501785146913!2d31.041756314757187!3d-29.86571062994582!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x1ef7a85011363ced%3A0x385c87e29f0d6ffe!2s1%20Erskine%20Terrace%2C%20Point%2C%20Durban%2C%204001!5e0!3m2!1sen!2sza!4v1645235261455!5m2!1sen!2sza" style="border:0;" allowfullscreen="" loading="lazy" class="map"></iframe>
          </div>
    </div>
    <!-- South Beach -->





    <!-- Umhlanga -->
    <div class="row d-flex flex-row location-jumbos">
        <div class="card col-sm-7 col-md-7 col-lg-4 mx-auto">
            <img src="https://media.istockphoto.com/photos/umhlanga-lighthouse-one-of-the-worlds-iconic-lighthouses-in-durban-picture-id1336188234?b=1&k=20&m=1336188234&s=170667a&w=0&h=cyE2qSRNVS4TglfBEt41Ty2DkFNRoyfHJSvuw1DEH5M="
                class="card-imgs" alt="...">
            <div class="card-body">
                <h5 class="card-title">Umhlanga</h5>
                <p class="card-text">
                    10 Lagoon Dr, Umhlanga, 4320
                </p>
            </div>
        </div>

      <div class="col-sm-7 col-md-7 col-lg-4 mx-auto">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3464.8648138331623!2d31.086965214752734!3d-29.72367492339053!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x1ef70f5b6bdf5e13%3A0x5c1939f96dc6bc90!2s10%20Lagoon%20Dr%2C%20Umhlanga%2C%204320!5e0!3m2!1sen!2sza!4v1645235150590!5m2!1sen!2sza" style="border:0;" allowfullscreen="" loading="lazy" class="map"></iframe>
      </div>
    </div>
    <!-- Umhlanga -->
  
    



    <!-- Westville -->
    <div class="row d-flex flex-row location-jumbos">
        <div class="card col-sm-7 col-md-7 col-lg-4 mx-auto">
            <img src="https://sncdn.com/imagecache/db/id/670709/go172409.jpg"
                class="card-imgs" alt="...">
            <div class="card-body">
                <h5 class="card-title">Westville</h5>
                <p class="card-text">
                    Jack Martens Dr, Dawncliffe, Westville, 3611
                </p>
            </div>
        </div>

        <div class="col-sm-7 col-md-7 col-lg-4 mx-auto">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3460.4879850424954!2d30.933431114756658!3d-29.850197629228575!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x1ef70064a403f061%3A0x4f091f0993a4c9db!2s3611%20Jack%20Martens%20Dr%2C%20Dawncliffe%2C%20Durban%2C%203629!5e0!3m2!1sen!2sza!4v1645235214392!5m2!1sen!2sza" style="border:0;" allowfullscreen="" loading="lazy" class="map"></iframe>
          </div>
    </div>
    <!-- Westville -->

  </div>


  <!-- width="600" height="450" -->
