<% layout('layouts/boilerplate') %> 

<div class="jumbotron">
    <h1 class="display-4 head-text">What's on the Menu?
    </h1>
    <hr class="hr-1">
  </div>

<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
          <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img src="https://media.istockphoto.com/photos/delicious-meal-picture-id1295387240?b=1&k=20&m=1295387240&s=170667a&w=0&h=KtWYFjSBgpNgVkE3P-WKZ2F6V-VxyUBBtJIP_k8IANM=" class="d-block w-100 carousel-imgs" alt="...">
              </div>
              <div class="carousel-item">
                <img src="https://images.unsplash.com/photo-1414235077428-338989a2e8c0?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8M3x8cmVzdGF1cmFudHxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60" class="d-block w-100 carousel-imgs" alt="...">
              </div>
              <div class="carousel-item">
                <img src="https://media.istockphoto.com/photos/close-up-of-a-glass-of-wine-and-a-beer-picture-id846037086?b=1&k=20&m=846037086&s=170667a&w=0&h=Qm3cPTgxqG-8W0aH4T7Xxr4tkfiAZzlYW2T4vlPq_3w=" class="d-block w-100 carousel-imgs" alt="...">
              </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
          </div>
    </div>
  </div>  

 <div class="jumbotron jumbotron-fluid" id="Menu">
  <div class="d-flex flex-column bd-highlight mb-3">
    <div class="d-flex flex-row bd-highlight mb-3">

      <!-- Drinks Menu -->
      <div class="card ms-auto me-auto" style="width: 18rem;">
        <img src="https://media.istockphoto.com/photos/cheers-celebration-toast-with-pints-of-beer-picture-id1060456922?b=1&k=20&m=1060456922&s=170667a&w=0&h=ggipHr-sKeE9UfDUU6buvnb1n3Nzt6-F9QDQ6u1fTV4=" class="card-img-top menu-imgs" alt="...">
        <div class="card-body">
          <h5 class="card-title">Drinks Menu</h5>
          <p class="card-text">Perfect for a get together with friends or for a solitary sundowner, we have something perfect for the occassion.</p>
          <a href="https://drive.google.com/file/d/13lLPyCmAkYSofh3jH4YHgyF2klSQ8zmi/view?usp=sharing" class="btn btn-primary card-link ms-auto me-auto">Our Drinks</a>
        </div>
      </div>
      <!-- Drinks Menu -->

      <!-- Main Menu -->
      <div class="card ms-auto me-auto" style="width: 18rem;">
        <img src="https://media.istockphoto.com/photos/restaurant-plates-picture-id104704117?b=1&k=20&m=104704117&s=170667a&w=0&h=ey87ESdQq9Gv0r_hmTuVLpF9H1hb0S3xcOBVOSWcZiw=" class="card-img-top menu-imgs" alt="...">
        <div class="card-body">
          <h5 class="card-title">Main Menu</h5>
          <p class="card-text">Feel free to take a look at our delicious and flavour filled starters, main meals and desserts.</p>
          <a href="https://drive.google.com/file/d/1U1nTL8PLSR50kbTJM3syFsoLeoIQzpwN/view?usp=sharing" class="btn btn-primary card-link ms-auto me-auto">Our Food</a>
        </div>
      </div>
      <!-- Main Menu -->

      <!-- Specials Menu -->
      <div class="card ms-auto me-auto" style="width: 18rem;">
        <img src="https://media.istockphoto.com/photos/friends-enjoying-a-meal-picture-id524296353?b=1&k=20&m=524296353&s=170667a&w=0&h=YIMSeLeYVOyMj6bl9I8ePoZ1vdw0XmdQ5p_0JnJ8Nxo=" class="card-img-top menu-imgs" alt="...">
        <div class="card-body">
          <h5 class="card-title">Specials</h5>
          <p class="card-text">If you come at the right time, you can enjoy some of the specials we have on food and drinks.</p>
          <a href="https://drive.google.com/file/d/1b9Mu29uqltBlEIkzl7ek7b4SZz3PK1u4/view?usp=sharing" class="btn btn-primary card-link ms-auto me-auto">Our Specials</a>
        </div>
      </div>
      <!-- Specials Menu -->
    </div>
  </div>
  </div>