<% layout('layouts/boilerplate') %>

    <h1>Want to Make a Booking?</h1>

    <div class="jumbotron">
        <p class="reservations-openPar">
            Are you very busy and dont have time to make a phone call to us and make a reservations?
        </p>
        <p class="reservations-openPar">
            We can make that easy for you by allowing you make a booking with us on the go at our South Beach and
            Umhlanga restarants here on our website.
        </p>
    </div>

    <hr class="hr-1">

    <div class="container">
        <div class="row">

            <form action="/reservations" method="POST">

                <!-- Location -->
                <fieldset>
                    <h3 id="table-head">Select Location</h3>

                    <div class="container" id="res-loc-radios">
                        <div class="row">

                            <div class="form-check res-location col-6">
                                <h5>South Beach</h5>

                                <label class="form-check-label" for="southBeachRadio">
                                    <input class="form-check-input" type="radio" name="location" id="southBeachRadio">
                                    <img class="res-loc-img" id="southBeachResImg"
                                        src="https://media.istockphoto.com/photos/durban-golden-mile-beach-with-white-sand-and-skyline-south-africa-picture-id1336186198?b=1&k=20&m=1336186198&s=170667a&w=0&h=ucTMb8I_hvhgdDs7gmlliFiSN2ClVy6_8x0ToaDQxPY="
                                        alt="">
                                </label>
                            </div>


                            <div class="form-check res-location col-6">
                                <h5>Umhlanga</h5>

                                <label class="form-check-label" for="umhlangaRadio">
                                    <input class="form-check-input" type="radio" name="location" id="umhlangaRadio">
                                    <img class="res-loc-img" id="umhlangaResImg"
                                        src="https://media.istockphoto.com/photos/view-the-sunset-at-the-umhlanga-rocks-lighthouse-picture-id180725394?b=1&k=20&m=180725394&s=170667a&w=0&h=fM-aNd3F1wx03X-Ws2J94x4BrSlj8KJGAt3AL_ngm2Y="
                                        alt="">
                                </label>
                            </div>

                        </div>
                    </div>
                </fieldset>
                <!-- Location -->

                <!-- Personal Details -->

                <div>
                    <label for="name" class="form-label">Name:</label>
                    <input type="text" class="form-control" class="name" placeholder="eg: John Smith" name="name">
                </div>

                <div>
                    <label for="phone" class="form-label">Phone Number:</label>
                    <input type="text" class="form-control" id="inputPhone" name="phone" placeholder="eg: 031 000 0000">
                </div>

                <div>
                    <label for="email" class="form-label">Email address:</label>
                    <input type="email" class="form-control" class="email" placeholder="name@example.com" name="email">
                </div>
                <div class="form-text emailHelp">We'll never share your email with anyone else.</div>

                <!-- Personal Details -->

                <!-- Calendar -->
                <div class="dateDiv">
                    <label for="date">Date:</label>

                    <input type="date" class="form-control" class="date" name="date" value="2022-01-01" min="01-01-2022"
                        max="31-12-2022">
                </div>
                <!-- Calendar -->

                <!-- Number of People -->
                <div class="dropdown mx-auto" id="people-container">
                    <p id="max-people-res">
                        How many people will you be bringing along? <strong> (maximum of 10 people per reservation)
                        </strong>
                    </p>

                    <button class="btn btn-secondary dropdown-toggle mx-auto" type="button" id="dropdownMenuButton1"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        <p>Number of People</p>
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                        <li><a class="dropdown-item">1</a></li>
                        <li><a class="dropdown-item">2</a></li>
                        <li><a class="dropdown-item">3</a></li>
                        <li><a class="dropdown-item">4</a></li>
                        <li><a class="dropdown-item">5</a></li>
                        <li><a class="dropdown-item">6</a></li>
                        <li><a class="dropdown-item">7</a></li>
                        <li><a class="dropdown-item">8</a></li>
                        <li><a class="dropdown-item">9</a></li>
                        <li><a class="dropdown-item">10</a></li>
                    </ul>
                </div>
                <!-- Number of People -->


                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                    <label class="form-check-label" for="flexCheckDefault">
                        Are you happy with the information above?
                    </label>
                </div>

                <button type="submit" class="btn btn-secondary" id="reservationsButton">Submit</button>
            </form>

        </div>
    </div>

    <script src="/javascripts/reservations.js"></script>
