<% layout('layouts/boilerplate') %>

    <div class="jumbotron">
        <h1>Here is What Other customers Have to Say</h1>
    </div>

    <hr class="hr-1">

    <% for (r of reviews) {%>
        <section class="customerReviews">

            <div class="name-date-div">
                <span class="r-name">
                    <%= r.name %>
                </span> -

                <span class="r-date" data-date="2022-05-16">
                    <%= r.date %>
                </span>
            </div>

            <div class="r-rating">
                <%= r.rating %>/5
            </div>

            <p class="r-review">
                <%= r.review %>
            </p>

        </section>
        <% } %>

            <div class="reviewBtnDiv">
                <button id="showmore" class="btn btn-secondary">See More Reviews</button>
            </div>



            <div class="container">
                <div class="row">

                    <h2 id="review-h1">What do you think of our service?</h2>

                    <form action="/reviews" method="POST" id="reviewsForm">
                        <div>
                            <label for="name" class="form-label">Name:</label>
                            <input type="text" class="form-control" class="name" placeholder="eg: John Smith"
                                name="name" required>
                        </div>

                        <div>
                            <label for="email" class="form-label">Email address:</label>
                            <input type="email" class="form-control" class="email" placeholder="name@example.com"
                                name="email" required>
                        </div>
                        <div class="form-text emailHelp">We'll never share your email with anyone else.</div>

                        <div class="dateDiv">
                            <label for="date">Date:</label>

                            <input type="date" class="form-control" class="date" name="date" value=""
                                min="01-01-2022" max="31-12-2022">
                        </div>


                        <div class="rating">
                            <input type="radio" name="rating" id="star5" value="5">
                            <label for="star5" title="Excellent"></label>
                    
                            <input type="radio" name="rating" id="star4" value="4">
                            <label for="star4" title="Very Good"></label>
                    
                            <input type="radio" name="rating" id="star3" value="3">
                            <label for="star3" title="Satisfactory"></label>
                    
                            <input type="radio" name="rating" id="star2" value="2">
                            <label for="star2" title="Not Satisfactory"></label>
                    
                            <input type="radio" name="rating" id="star1" value="1">
                            <label for="star1" title="Awful"></label>
                        </div>



                        <div>
                            <label for="review" class="form-label">Write Your Review:</label>
                            <textarea class="form-control" id="review" rows="5" name="review" required></textarea>
                        </div>

                        <div class="reviewBtnDiv">
                            <button class="btn btn-secondary" id="reviewButton">Submit Review</button>
                        </div>
                    </form>

                </div>
            </div>

            <script src="/javascripts/reviews.js"></script>
